* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: rgb(203, 213, 241);
    font-family: "Raleway", "Arial", "Helvetica", sans-serif;
    color: black;
}

.centralizado {
    max-width: 1140px;
    padding: 0 25px;
    margin: 0 auto;
}

header {
    padding: 35px;
    border-bottom: 1px solid black;
    background: black;
}

.links {
    text-align: center;
}

.links a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;
}

.links a:hover {
    color: blue;
    transition: color 200ms;
}

#logogeo {
    padding: 10px;
    text-align: center;
}

#logogeo img {
    width: 950px;
    max-width: 100%;
    border-image: 100%;
    margin-left: auto;
    margin-right: auto;
}

#links_footer {
    text-decoration: underline;
    border-bottom: 1px solid blue;
    height: 150px;
}

.footer {
    text-align: center;
}

/* SEÇÃO SOBRE */

.sobre__titulo {
    font-size: 35px;
}

.sobre-descricao {
    font-size: 22px;
    line-height: 35px;
    font-weight: normal;
    margin-top: 35px;
    opacity: 1;
    text-align: justify;
}

/* SEÇÃO TRABALHOS */

.trabalhos-titulo {
    font-size: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.sobre-trabalhos {
    font-size: 22px;
    line-height: 35px;
    font-weight: normal;
    margin-top: 35px;
    margin-bottom: 35px;
    opacity: 1;
    text-align: justify;
}

/* SEÇÃO SEÇÃO MATERIAIS */

.titulo-materiais {
    font-size: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.sobre-materiais {
    font-size: 22px;
    line-height: 35px;
    font-weight: normal;
    margin-top: 35px;
    margin-bottom: 35px;
    opacity: 1;
    text-align: justify;
}

/* SEÇÃO MEMBROS */

.titulo-membros {
    font-size: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.sobre-membros {
    font-size: 22px;
    line-height: 35px;
    font-weight: normal;
    margin-top: 35px;
    margin-bottom: 35px;
    opacity: 1;
    text-align: justify;
}
#wrapper {
    text-align: center;
    padding: 32px;
}

#wrapper img {
    height: 150px;
    border-radius: 50%;
    border: 1px solid blue;
    margin-bottom: 32px;
}
.curriculo_lattes {
    text-decoration: underline;
    height: 150px;
}

/* SEÇÃO ENCONTROS */

.titulo-encontros {
    font-size: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.sobre-encontros {
    font-size: 22px;
    line-height: 35px;
    font-weight: normal;
    margin-top: 35px;
    margin-bottom: 35px;
    opacity: 1;
    text-align: justify;
}

/* SEÇÃO CONTATOS */

footer {
    padding: 40px;
    background-color: black;
}

.redes-sociais__titulo {
    margin-bottom: 3px;
    color: white;
    font-size: 15px;
    text-align: center;
    text-decoration: underline;
    line-height: 28px;
    margin: 0 16px;
}

.redes-sociais__link {
    display: inline-block;
    padding: 15px 0;
    margin: 0 1rem;
    text-align: center;
    justify-content: center;
    color: blue;
    transition: color 200ms;
}

.redes-sociais__img {
    fill: white;
    width: 36px;
}
